
#top { 
    alignment-adjust: central;
    font-size: 12px;
    position: relative;
    color: #000000;
    padding: 10px;
    margin:0px 200px 0px 350px;
    }
    #top2 { 
    alignment-adjust: auto;
    font-size: 15px;
    margin:0px 200px 0px 350px;
    }
#corp {
    position: relative;
    color: #200;
    padding: 0px;
    margin:0px 470px 0px 450px;
    }

#tab{
    alignment-adjust: central;
    font-size: 12px;
    position: relative;
    color: #000000;
    padding: 10px;
    margin:0px 200px 0px 350px;
    }

#bottom {
    list-style: none;
    position: relative;
    padding: 5px;
    margin: 10px 0px 5px 5px;
}


#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
#j_idt7{
    margin: 100px 10px 15px 15px;
}
#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #333333;
  font-weight : bolder;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
#menu{
    float: none;
    color: #dddddd;
    padding: 2px;
    margin: 0px 100px 2px 900px;
}

